* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 12 50px;
    height: 70px;
    align-items: center;
}
.menu {
    flex: 3;
    display: flex;
}
.menu > li {
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu {
    visibility: visible;
    top: 30px;
}
.sub-menu {
    position: absolute;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    width: 150px;
    left: 10px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
}
.sub-menu ul {
    padding-left: 20px;
}
.sub-menu ul a {
    font-weight: normal!important;
    font-size: 12px!important;
}
.menu  li  a {
    font-size: 12px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
}
.oders {
    flex: 1;
    display: flex;
}
.oders > li {
    padding: 0 12px;
}
.oders > li:first-child {
    position: relative;
}
.oders > li:first-child input {
   width: 100%;
   border: none;
   border-bottom: 1px solid #333;
}
.oders > li:first-child i {
    position: absolute;
    right: 10px;
}